.nav-item {
  font-size:17px;
  }

@media screen and (max-width: 422px) {
  h1 {
    font-size:24px;
  }

  h4 {
    font-size:18px;
  }

  .nav-item {
    font-size:15px;
  }

  .nav-link {
    padding:.5rem .75rem
  }

  .list-group-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 357px) {
  .nav-link {
    padding:.5rem
  }
}

@media screen and (max-width: 328px) {
  .nav-item {
    font-size:13px;
  }
}
