{% extends './layout.html' %}

{% block content %}
<p>I'm 25 years old, currently enrolled in a programming bootcamp through Fullstack Academy. I enjoy cooking, watching sports, playing trumpet, and working out.</p>

<p class="contact-header">Shoot me an email, slide into my DMs, or send a raven:</p>
  <p class="minor">
    <img src="../vendor/gmail_logo.png" width="24px" height="18px" alt="Email">
    <a target="_blank" alt="jeremyphilipson@gmail.com" style="padding-left:6px" href="mailto:jeremyphilipson@gmail.com">jeremyphilipson@gmail.com</a>
  </p>
  <p class="minor">
    <img src="../vendor/twitter_logo2.png" width="28px" height="22px" alt="Twitter">
    <a target="_blank" alt="@jeremyphilipson" style="padding-left:1px" href="https://www.twitter.com/jeremyphilipson">@jeremyphilipson</a>
  </p>
  <p class="minor">
    <img src="../vendor/house_image.png" width="24px" height="24px" alt="Address">
    <a target="_blank" alt="356 E 50th St, Apt C, New York, NY 10022" href="https://www.google.com/maps/place/356+E+50th+St,+New+York,+NY+10022/" style="padding-left:5px">356 E 50th St, Apt C, New York, NY 10022</a>
  </p>
{% endblock %}


