<!-- eslint-disable -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../vendor/bootstrap/dist/css/bootstrap.css" />
  <!-- <script src="main.js"></script> -->
</head>
<body>
  <div class="container">
    <h1 style="margin:15px 0px">{{ pageTitle }}</h1>
    <ul class="nav nav-tabs" style="margin-bottom:20px">
      <li class="nav-item">
        <a class="nav-link {%if path === '/'%}active{% endif %}" href="/" style="{% if path === '/' %}font-weight:bold {%endif %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%if path === '/about'%}active{% endif %}" href="/about" style="{% if path === '/about' %}font-weight:bold {%endif %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link
        {% set regExp = r/experience\/?\d?/ %}
        {%if regExp.test(path)%}active{% endif %}
        " href="/experience" style="
        {% set regExp = r/experience\/?\d?/ %}
        {%if regExp.test(path)%}font-weight:bold{% endif %}">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {%if path === '/resume'%}active{% endif %}" href="/resume" style="{% if path === '/resume' %}font-weight:bold {%endif %}">Resume</a>
      </li>
    </ul>

    {% block content %}
    {% endblock %}

  </div>
</body>
</html>
